input{
	padding:20px 15px !important;
}


input[type="button"], input[type="submit"]{
	padding-top: 1rem !important;
	padding-right: 2rem !important;
	padding-bottom: 1.0625rem !important;
	padding-left: 2rem !important;
}

.postfix{
	padding:10px 15px 30px 5px !important;
}

.button{
	color:#fff !important;
}

input:active{
 	box-shadow: none;
}

input[type=radio].css-radio {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-radio + label.css-radio-label {
							padding-left:25px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:20px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=radio].css-radio:checked + label.css-radio-label {
							background-position: 0 -20px;
						}
						label.css-radio-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_f38a3925f5b0f2277283479b95f22589.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}


			input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:25px;
							height:20px; 
							display:inline-block;
							line-height:20px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:20px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -20px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_b9c887b102b64e97df74ccc5bf565ec3.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}